// nth($bg,$style);
$web:           A               B               C;
$main-color:    #e33435         #0666e8         #d100d1;
$bg:            #e33435         #0666e8         #d100d1;
$hot-color:     #01a5ca         #0666e8         #0666e8;

$style: index($web,A);

$text-color: #292929;
$links-color: #000;
$links-color-hover: #fff;
$bg-color: #000;
$wrap-width: 960px;